@import "tailwindcss";

/* @theme {
  --clr-primary: hsl(122, 39%, 49%),
  --clr-primaryDark: hsl(122, 43%, 39%),
  --secondary: hsl(207, 90%, 56%),
  --background: hsl(0, 0%, 96%),
  --text: hsl(0, 0%, 13%),
  --textSecondary: hsl(0, 0%, 46%),
  --accent: hsl(54, 100%, 61%),
  --error: hsl(4, 90%, 61%),
  --success: hsl(122, 43%, 39%),
  --white: hsl(0, 0%, 100%)
} */

:root {
  --color-primary: hsl(122, 39%, 49%);
  --color-primary-dark: hsl(122, 43%, 39%);
  --color-secondary: hsl(207, 90%, 56%);
  --color-background: hsl(0, 0%, 96%);
  --color-text: hsl(0, 0%, 13%);
  --color-text-secondary: hsl(0, 0%, 46%);
  --color-accent: hsl(54, 100%, 61%);
  --color-error: hsl(4, 90%, 61%);
  --color-success: hsl(122, 43%, 39%);
  --color-white: hsl(0, 0%, 100%);
}

/* Style global */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
  min-width: 100vw;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 0 0.5em;
}

button {
  font-family: 'Inter', sans-serif;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: fit-content;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
}

.button-primary:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.card {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 1.5rem;
  margin: 1rem 0;
}

header {
  max-width: 1280px;
  margin: auto;
}

main {
  padding: 20px 0;
  max-width: 1280px;
  margin: auto;
}

@media screen AND (max-width: 1280px) {

  header {
    padding: 20px;
  }

  main {
    padding: 20px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}